.orders-admin {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  /* height: 300px; */
  justify-content: space-around;
  align-items: center;
  color: #111111;
  border-radius: 20px;
  background: linear-gradient(45deg, #096642, #12CC85, transparent);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: 20px;
  font-weight: 800;
  transform: scale(1);
}

.title {
  font-family: "Pacifico", cursive;
}
