a {
  color: white;
  text-decoration: none;
}
.content {
  display: flex;
  padding-left: 3%;
  padding-top: 3%;
  width: 75vw;
}

.divTitle {
  color:black;
  height: 20vh;
}

.fontStyle {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 3vh;
}
.menu-logout {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  height: 50vw;
  justify-content: flex-start;
}

.menu {
  display: flex;
  height: 100vh;
}

.side-bar {
  align-items: stretch;
  background-color: #12cc85;
  border-color: rgba(64, 194, 133, 0.693);
  border-radius: 0;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.white-border {
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  display: flex;
  width: 100%;
}
