@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Righteous&display=swap');


.login-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #16F29E;
  
}

.visible-area {
  animation: animateLogin 1s linear;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* background-color: #16F29E */
}

.login-page div > img {
  display: inline;
}

.login-page > div:nth-child(2){
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page div > span {
  font-size: 4em;
  letter-spacing: 4px;
  color: #0E9E67;
  font-weight: 900;
  font-family: 'Permanent Marker', cursive;
}

.login-form {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  margin-bottom: 20px;
}

.login-form > div:nth-child(1), .login-form > div:nth-child(2) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color:#096642;
  font-size: 1.5em;
}

.login-form div input{
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 3px solid #096642;
  margin-bottom: 20px;
  outline: none;
  color: #096642;
  font-size: 0.8em;
  padding-top: 10px;
  background: transparent;
}


.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

.login-btn button:first-child {
  background: #12CC85;
  height: 50px;
  border-radius: 40px;
  width: 50%;
  max-width: 200px;
  color: #fff;
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5);
}

.login-btn button:nth-child(2) {
  background: transparent;
  display: inline-block;
  border: transparent;
  /* border-radius: 40px; */
  /* width: 100%; */
  margin: 20px 0;
  border-bottom: 1px solid #096642;
  cursor: pointer;
  outline: none;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5); */
}

.beer {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -30%);
  animation: animate ease-in-out 2s alternate infinite ;
}

@keyframes animate {
  0%{
  top: 30%;
  left: 85%;
  }

  100%{
  top: 25%;
  left: 75%;
  }
}

@keyframes animateLogin {
  0% {
opacity: 0;
/* transform: scale(0); */
  }
  100% {
opacity: 1;
/* transform: scale(1); */
  }
}

@media (max-width: 400px) {
  .logo img {
    height: 40px;
    width: 40px;
  }
  .login-page div > span {
    font-size: 3em;
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .visible-area {
    width: 80%;
  }

  .login-form {
    width: 50%;
    margin: 0 auto;
  }
}