.order-details {
  display: flex;
  min-height: 90vh;
  flex-direction:column;
  justify-content: space-around;
  align-self: center;
  width: 50%;
  min-width: 350px;
  margin: auto;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.order-details > h3 {
  text-align: right;
}

table, th, td {
  text-align: center;
  border: 1px solid #000;
  height: 30px;
}

th {
  background-color: #16F29E;
}